
@import 'tailwindcss';
@plugin "daisyui";
@font-face {
  font-family: 'Alex Brush';
  src: url('/public/fonts/Alex_Brush/AlexBrush-Regular.ttf') format('truetype');
  display: swap;
}
@theme {
  --font-AlexBrush: "Alex Brush", sans-serif; 
}